### MATLAB ###

# Windows autosave extension
*.asv
# Unix autosave extension
*.m~

### OS ###

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac caches
.DS_Store
